.section-advantages {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-icon-list {
  display: flex;

  padding: 0;
  margin: 0;
  list-style: none;
}

.section-advantages__list-item {
  width: 270px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4-30px);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.section-advantages__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: $third-background-color;
}

.section-advantages__list-icon {
  display: flex;

  width: 70px;
  height: 70px;

  background-repeat: no-repeat;
  background-position: center;
}

.section-advantages__list {
  display: flex;
  /*flex-wrap: wrap;*/
  margin-left: -30px;
  margin-top: -30px;
  /*padding-bottom: 94px;
  padding-top: 94px;*/
}

.section-advantages__list-text {
  margin-top: 0;
  margin-bottom: 0;
}
