.backdrop {
  position: fixed;
  margin: 0;
  padding: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: all 1000ms $timing-function;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 99;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop__modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  max-height: 609px;
  width: 100%;
  max-width: 450px;

  background-color: #fff;

  transition: translate 250ms $timing-function,
    opacity 250ms linear $timing-function;

  @media screen and (max-width: 1199px) {
    overflow-y: scroll;
  }
  @media screen and (min-width: 1200px) {
    max-height: 581px;
    width: 528px;
    max-width: 528px;
  }
}

.backdrop__close-button {
  content: "";
  position: absolute;

  right: 8px;
  top: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  background-color: $background-color;
  width: 30px;
  height: 30px;
  background-image: url("../images/close-icon.svg");
  color: $title-text-color;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px, 11px;
  display: inline-block;
  transition: transform 250ms $timing-function;
}

.backdrop__form {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 767px) {
    max-width: 370px;
  }
}

.backdrop__form-text--container {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;

  max-width: 448px;
  margin-bottom: 12px;
}

.backdrop__form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 35px;

  font: inherit;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms $timing-function;

  &:focus {
    outline: none;
    border-color: $accent;
  }
  &:focus + .backdrop__form--icon {
    fill: $accent;
  }
}

.input-icon__wrap {
  position: relative;
}

.backdrop__form--icon {
  position: absolute;

  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 250ms $timing-function;
}

.backdrop__textarea {
  display: block;
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms $timing-function;

  &:focus {
    border-color: $accent;
    outline: none;
  }
}

.backdrop__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__send-form--button {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  background-color: $accent;
  border-radius: 4px;
  color: $second-text-accent;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;
  cursor: pointer;
  transition: box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
