.backdrop__field-check--container {
  font: inherit;
  margin-bottom: 30px;
}
.backdrop__checkbox-label {
  display: inline-block;

  position: relative;
  margin-bottom: 4px;
}
.backdrop__checkbox-input:checked + .backdrop__checkbox-icon {
  border-color: $accent;
  background-color: $accent;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.backdrop__checkbox-icon {
  position: absolute;
  top: -15%;
  left: 14px;
  transform: translateY(50%);

  width: 15px;
  height: 15px;

  border: 2px solid $borderColorBlack;

  border-radius: 3px;
  cursor: pointer;
}

.backdrop__checkbox-text {
  display: inline-block;
  margin-left: 39px;
}
.backdrop__checkbox-link {
  color: $accent;
}
