.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $sec-background-color;
}

footer .logo {
  color: $background-color;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    width: 1200px;
  }
}

.footer__address-networks--wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 610px;

    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: $second-text-accent;
}

.footer__item-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer__email-item {
  margin-bottom: 9px;
}

.footer__address-container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    align-items: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
