.header__contacts-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header__contacts-item + .header__contacts-item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header__contacts-link {
  align-items: center;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.142;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $accent;
  }
}

.header__tel-link {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header__contacts-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.header__contacts-item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
.header__contacts--mail-icon {
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header__contacts--tel-icon {
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
