.header__contacts-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__contacts-item + .header__contacts-item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header__contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.142;
  }
}

.header__contacts-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
