.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    text-align: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.header__nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: $accent;
  }
}
