.header__contacts-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__contacts-item + .header__contacts-item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
