.hero {
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;

  @media screen and (max-width: 479px) {
    padding-top: 118px;
    padding-bottom: 11s8px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $second-text-accent;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1170px) {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__title-container {
  @media screen and (max-width: 479px) {
    text-align: center;
    margin: 0 auto;
    padding-top: 118px;
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1170px) {
    margin: 0 auto;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  @media screen and (min-width: 480px) {
    height: 400px;
    padding-top: 118px;
  }

  @media screen and (min-width: 768px) {
    height: 400px;
    padding-top: 118px;
  }

  @media screen and (min-width: 1170px) {
    max-width: 1600;
    height: 600px;
    padding-top: 200px;
  }
}

.hero__overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-color: $sec-background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: $second-text-accent;
  background-color: $accent;
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;

  transition: transform 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $background-color;
    color: $accent;
  }
}
