.section-projects {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-projects__filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: $third-background-color;
  background-color: $filter-color;
  cursor: pointer;
  transition-property: background-color color border box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    background-color: $accent;
    color: $second-text-accent;
    border: $accent;

    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.section-projects__filter {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.section-projects__filter-item:not(:last-child) {
  margin-right: 8px;
}
.section-projects__filter-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.section-projects__project-link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}
.section-projects__card-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.section-projects__card-body--name {
  margin-top: 0;
  margin-bottom: 0;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1, 9;
  text-decoration: none;
}
.section-projects__project-link {
  text-decoration: none;

  &:hover .section-projects__item-overlay {
    transform: translateY(0);
  }
}

.card-photo {
  position: relative;
  overflow: hidden;
}

.section-projects__project-item--img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.section-projects__item-overlay {
  position: absolute;
  text-decoration: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  left: 0;
  top: -1%;
  width: 100%;

  height: 100%;
  background-color: $backdrop-color;
  opacity: 1;
  transform: translateY(-100%);
  transition: transform 250ms ease;

  @media screen and (min-width: 480px) {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.section-projects__item-overlay .section-projects__overlay-text {
  padding: 0;
  margin: 0;

  text-decoration: none;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: $second-text-accent;
}

.section-projects__project-set {
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.section-projects__project-item {
  border: 1px solid #ececec;
  background-color: $background-color;
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 15px * 4) / 2);
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
    width: calc((100% - 15px * 6) / 3);
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
