.header__contacts-list {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

c .header__contacts-item + .header__contacts-item {
  margin-left: 50px;
}
.header__contacts--mail-icon {
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header__contacts--tel-icon {
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
