.hero {
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900px;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $second-text-accent;
  }
}

.hero__title-container {
  width: 696px;
  margin: 0 auto;
}

.hero__overlay {
  max-width: 1600;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}

.hero__overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-color: $sec-background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
