footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $sec-background-color;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__address-container {
  display: flex;
  flex-direction: column;
  margin-right: 77px;
}
.footer__address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: $second-text-accent;
}
.footer__sotial-networks--container {
  display: flex;
  flex-direction: column;

  padding: 0;
}

footer .logo {
  color: $background-color;
}

.footer__item-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer__email-item {
  margin-bottom: 9px;
}
