$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196f3;
$second-text-accent: #ffffff;
$background-color: #ffffff;
$sec-background-color: #2f303a;
$third-background-color: #f5f4fa;
$logo-color: #000000;
$filter-color: #f5f4fa;
$border-color: #ececec;
$icons-list-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$backdrop-color: rgba(33, 150, 243, 0.9);
$mainFontFamily: "Roboto", sans-serif;
$secondaryFontFamily: "Raleway", sans-serif;
$outlineColorblack: #212121;
$borderColorBlack: #212121;
$mainFontSize: 14px;
$FillButtoneCloseColor: #000000;
